@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #282828;
  color: #fff;
  min-width: 220px;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  font-family: 'raleway-bold', sans-serif;
  font-size: 30pt;
  margin: 9px;
}

.back-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 220px;
}

.presentation-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #363636;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.presentation:hover {
  box-shadow: 0.2rem 0.4rem 0.4rem #00897b;
}

.me-figure {
  flex: 13%;
}

.me {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin: auto;
}

.biography {
  flex: 87%;
  padding: 1em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #111111;
  /* height: 2000px; */
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #00564d;
  border-bottom: 3px solid #00897b;
  font-size: 24px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
  align-self: flex-end;
  padding: 0.6em 0.9em;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
  background-color: #969696;
}

nav ul li a {
  display: block;
  padding: 0.6em 0.9em;
}

#knowledge-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

ul.cloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 75%;
  list-style: none;
  margin: 60px 0;
}

ul.cloud a {
  --size: 4;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (max-width: 600px) {
  .presentation {
    flex-direction: column;
  }

  .me {
    width: 50%;
  }

  .menu-icon {
    display: block;
  }

  nav ul {
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s ease;

  }

  #menuToggle:checked ~ ul {
    max-height: 350px;
  }

  .cloud {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .me-figure {
    flex: 30%;
  }

  .biography {
    flex: 70%;
  }

  .cloud {
    width: 90%;
  }
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}
